<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-dark bg-dark mb-4">
            <!-- Navbar content -->
            <div class="m-auto col-md-6 d-flex row justify-content-between">
                <h3 class="text-light">ToDoList</h2>
                <input type="text" class="form-control col-8" @keyup.enter="add" v-model.trim="content">
            </div>
            
        </nav>
        <not-done-ul :to-do-list="toDoList" @change-checked="changeChecked" v-on:delete-this="del"></not-done-ul>
        <done-ul :to-do-list="toDoList" @change-checked="changeChecked" v-on:delete-this="del"></done-ul>
        <footer class="text-center">There is no Copyright :) <span @click="toDoList=[]" class="clear">clear</span></footer>
    </div>
    
    <script>
        let notDoneUl = {
            template: 
            `
            <div>
                <div class="m-auto col-md-6 d-flex row justify-content-between">
                    <h4>正在进行</h4>
                    <span class="circle">{{unfinished.length}}</span>
                </div>
            
                <ul class="m-auto col-md-6">
                    <li class="notDoneLi" v-for="(item, index) in unfinished" >
                        <div>
                            <input type="checkbox" class="mr-2 ml-2" :checked="item.is_finished"  @change="$emit('change-checked', item.id)" :key="item.id"/>
                            {{item.content}}
                        </div>
                        <span class="delete" @click="$emit('delete-this', item.id) ">X</span>
                    </li>
                </ul>
            </div>`,
            props:['to-do-list'],
            computed:{
                unfinished:function(){ 
                    return this.toDoList.filter(item=>{
                        return !item.is_finished;
                    })
                }
            }
        };


        let doneUl = {
            template: 
            `
            <div>
                <div class="m-auto col-md-6 d-flex row justify-content-between">
                    <h4>已经完成</h4>
                    <span class="circle">{{finished.length}}</span>
                </div>
                <ul class="m-auto col-md-6">
                    <li class="doneLi" v-for="(item, index) in finished" :key="index">
                        <div>
                            <input type="checkbox" class="mr-2 ml-2" :checked="item.is_finished"  @change="$emit('change-checked', item.id)" :key="item.id"/>
                            {{item.content}}
                        </div>
                        <span class="delete" @click="$emit('delete-this', item.id)">X</span>
                    </li>
                </ul>
            </div>`,
            props:['to-do-list'],
            computed:{
                finished:function(){
                    
                    return this.toDoList.filter(item=>{
                        return item.is_finished;
                    })
                }
            }
            
        };
        
        //load saved data
        let savedData=eval(localStorage.getItem('toDoList'));
        try{
            savedData.forEach(item=>{
            item.id=Symbol();
            })
        }catch{
            console.log(1);
            
            savedData=null;
        }
        

        //app
        let app = new Vue({
            el:'#app',
            data:{
                // id:0,
                content:'',
                toDoList:savedData||[]
            },
            methods:{
                add:function(){
                    if(this.content.length==0){
                        alert('Please enter todo content.');
                        return;
                    }
                    this.toDoList.unshift({
                        id:Symbol(),
                        content:this.content.trim(),
                        is_finished:false
                    })
                    this.content='';
                    localStorage.setItem('toDoList', JSON.stringify(this.toDoList));
                    
                    
                },
                del:function(id){
                    this.toDoList= this.toDoList.filter(item=>{
                        if(item.id==id){
                            return false
                        }else{
                            return true;
                        }
                    })
                    localStorage.setItem('toDoList', JSON.stringify(this.toDoList));
                },
                changeChecked:function(id){
                    
                    this.toDoList.forEach(item=>{
                        
                        
                        if(item.id==id){
                            
                            item.is_finished=!item.is_finished;
                        }
                    });
                    localStorage.setItem('toDoList', JSON.stringify(this.toDoList));
                }
            },
            components:{
                "not-done-ul":notDoneUl,
                "done-ul":doneUl
            }
        });
    </script>
</body>

</html>